In [4]:
from trout.stars import Star
import pandas as pd

In [2]:
steps_data = {}

In [3]:
for star_no in range(1, 2509):
    star = Star(star_no, is_primary=False)
    steps_data[star_no] = {"step": star.step(2011, 2012)}

/opt/tljh/user/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/tljh/user/lib/python3.9/site-packages/numpy/core/_methods.py:190: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [9]:
df = pd.DataFrame.from_dict(steps_data, orient='index')
df.index.name = "star"

In [10]:
df

          step
star
1     0.854897
2     0.953955
3     0.928070
4     0.925684
5     0.926050
...        ...
2504  0.957866
2505  0.843457
2506       NaN
2507       NaN
2508       NaN

[2508 rows x 1 columns]

In [11]:
df.to_csv("2011_12_step.txt", sep="\t")